{% extends "layout.twig" %} 

{% block body %}

    <h1>Bienvenue sur le blog</h1>


    <ul>
        <li> <a href=" {{ path('blog.show', {'slug':'dfsdhfosdhfod-45'}) }}">Article 1</a> </li>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
    </ul>
    
{% endblock body %}

    

