{% extends "layout.twig" %} 

{% block body %}

    <h1>Bienvenue sur le blog <em style="color:red;"> {{ slug }} </em></h1>

    <ul>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
    </ul>

{% endblock body %}
